* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Header */
  
  header {
    background-color: #333;
    height: 150px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    margin-top: 10px;
    width: 300px;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin-right: 50px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }
  
  a:hover {
    color: #ccc;
  }
  
  .redes-sociais img {
    width: 45px;
    margin-left: 20px;
  }

  /* Adicione uma media query para estilos específicos para telas menores, como smartphones */
  @media (max-width: 767.98px) {
  
    ul {
      margin-top: 25px;
    }

  .logo {
    margin-left: 25px;
    margin-top: 25px;
    width: 220px;
  }

  .redes-sociais img {
    width: 26px;
    padding: 0px;
  }

  a {
    font-size: 16px; /* Reduza o tamanho da fonte para telas menores */
  }
}