* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Header */
  
  header {
    background-color: #333;
    height: 150px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    margin-top: 10px;
    width: 300px;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin-right: 50px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }
  
  a:hover {
    color: #ccc;
  }
  
  /* Redes Sociais */
  
  .redes-sociais img {
    width: 45px;
    margin-left: 20px;
  }



  .hamburger img {
    width: 45px;
  }

  /* Adicione uma media query para estilos específicos para telas menores, como smartphones */
  @media (max-width: 767.98px) {
  

  .logo {
    margin-left: 50px;
    margin-top: 25px;
    width: 250px;
  }

  ul {
    display: none;
  }

  

  .redes-sociais img {
    width: 45px;
    margin-right: 10px;
    padding: auto;
  }

  .hamburger {
    display: block; /* Torne o ícone do menu hamburger visível em telas menores */
  }

  a {
    font-size: 16px; /* Reduza o tamanho da fonte para telas menores */
  }
}