* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Header */
  
  header {
    background-color: #333;
    height: 150px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    margin-top: 10px;
    width: 300px;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin-right: 50px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }
  
  a:hover {
    color: #ccc;
  }
  
  .redes-sociais img {
    width: 45px;
    margin-left: 20px;
  }

  #servicos {
    margin: 20px auto;
    width: 80%;
    text-align: center;
  }
  
  #servicos h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .container-fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .container-fotos img {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
  }
  
  #servicos p {
    font-size: 1.2em;
    line-height: 1.5;
  }

@media (max-width: 767.98px){

  header {
    height: 100px;
  }
  
  ul {
      margin-top: 25px;
    }

  li {
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 5px;
  }

  .logo {
    margin-left: 25px;
    margin-top: 25px;
    width: 100px;
  }

  .redes-sociais img {
    width: 25px;
    padding: 0px;
    margin-top: 15px;
  }

  .whatsapp {
    margin-right: 10px;
  }

  a {
    font-size: 10px; /* Reduza o tamanho da fonte para telas menores */
  }
}